html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Noto Serif Georgian", serif;
  min-height: 100vh;
  background-image: url("./images/money.jpg");
  background-position: center;
  background-size: cover;
}
